/* html elements */

body {
  margin: 0;
  text-align: center;
  background-color: #D6E5FA;
}

a {
  color: #11999E;
}

hr {
  border-color: #EAF6F6;
  border-style: none;
  border-top: dotted;
  border-width: 5px;
  width: 5%;
  padding-bottom: 2em;
}

/* header elements */

h1 {
  margin-top: 50px;
  font-family: "Licorice";
  font-size: 5.625em;
  color: #66BFBF;
  line-height: 200%;
}

h2 {
  margin-top: 50px;
  font-family: "Poppins";
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  margin-top: 50px;
  font-family: "Poppins";
  font-size: 25px;
  color: #11999E;
}

/* containers */

/* top container */

.top-container {
  position: relative;
}


.top-cloud{
  position: absolute;
  right: 22%;
  top: 50px;

}

.bottom-cloud{
  position: absolute;
  left: 22%;
  top: 300px;

}

.mountain{
  position: relative;
  margin-bottom: 0;
}

@media (max-width: 1101px){
  .top-cloud, .bottom-cloud{
    width: 6rem;
    height: 3rem;

  }
}

@media (max-width: 1101px){
  .top-cloud{
    width: 5rem;
    height: 2.5rem;
    top: 5px;
  }
}

@media (max-width: 1101px){
  .bottom-cloud{
    width: 6rem;
    height: 3rem;
    top: 170px;
  }
}

/* middle container */

.middle-container{
  background-color: white;
  padding-top: 3em;
  padding-bottom: 3em;

}

.flaticon{
  font-size: 7px;

}

.skill-img{
  width: 0.25;
  height: 150px;
  float: left;
  padding-right: 30px;
}

.skills-text{
  padding-bottom: 3em;
}

.skill-row{
  width: 50%;
  margin: auto;
  text-align: left;
  line-height: 2;
  padding-bottom: 2em;
}

/* bottom container */

.bottom-container{
  padding-top: 2em;
}

@media(max-width:1101px){
  .bottom-p{
  font-size: 1rem;
  }
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
